<div class="bg-image">
    <div class="container bg-text" >
        <div class="row">
            <div class="offset-1 col-md-10">
                <div>
                        <h3 class="bg-text">Header list of the required values : </h3>
                </div>
                <table class="table table-striped">
                    <thead>
                        <!-- <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr> -->
                        <tr>
                            <th id="first-part" class="blue-col" scope="col"></th>
                            <th class="blue-col" scope="col">
                                <form action="" [formGroup]="modelform" id="addHeader">
                                    <input  class="offset-2 col-10" type="text" id="input" placeholder="Add new column header"
                                        formControlName="colHeader">
                                    <button id="bouton" class="btn" (click)="add(modelform.value)">
                                        <svg id="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                        </svg>
                                    </button>
                                </form>
                            </th>
                            <th class="blue-col" scope="col"></th>
                            <th id="second-part" class="blue-col" scope="col"></th>
                        </tr>
    
                    </thead>
                    <tbody>
                        
    
                        <tr *ngFor="let colHeader of model; let i = index">
    
                            <th scope="row">{{i+1}}</th>
                            <td *ngIf="!show">{{colHeader.colHeader}}</td>
                            <td><button class="btn btn-success rounded-circle" (click)="show = true" *ngIf="!show"> <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen-fill" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                    </svg> </button>
                                        <form action="" [formGroup]="modelform" *ngIf="show" >
                                                <input type="text" placeholder="{{colHeader.colHeader}}" id="update-input"  formControlName="colHeader" >
                                                <button (click)="update(colHeader._id, modelform.value)" class="btn btn-primary"  class="btn rounded-circle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                        class="bi bi-pen-fill" viewBox="0 0 16 16" >
                                                        <path
                                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                                    </svg> </button>
                                        </form>
                            </td>
                            <td><button class="btn rounded-circle" (click)="delete(colHeader._id)" id="delete" *ngIf="!show"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg> </button></td>
                        </tr>
                    </tbody>
                </table>
                <div>
    
                </div>
            </div>
    
        </div>
    </div>
</div>
