#addHeader{
   display: flex; 
   justify-content: space-around;
   /* width: 100px; */
   align-items: center;
   background-color:#ffffff;
   margin: 0;
   justify-content: center;
}

#bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    border:unset;    
    background-color:#0d7cf3 ;

}
#plus{
    color:#ffffff ;
}
.blue-col{
    background-color:#ffffff ;
}
#first-part{
    border-bottom-left-radius: 50px ;
    border-top-left-radius: 50px ;
}
#second-part{
    border-bottom-right-radius: 50px ;
    border-top-right-radius: 50px ;
}
#input{
    border:#ffffff ;    
    background-color:#ffffff  ;
    width:300px;
}
#update-input{
    border:unset;    
    background-color:#ffffff ;
    width:180px;
}
/* #delete{
    color: rgb(255, 230, 7);
} */
.center
{
 margin-top: 5% ;
}