#addHeader{
   display: flex; 
   justify-content: space-around;
   /* width: 100px; */
   align-items: center;
   background-color:#b4cce6;
   margin: 0;
   justify-content: center;
}

#bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    border:unset;    
}
#plus{
    color:#b4cce6 ;
}
.blue-col{
    background-color:#b4cce6 ;
}
#first-part{
    border-bottom-left-radius: 50px ;
    border-top-left-radius: 50px ;
}
#second-part{
    border-bottom-right-radius: 50px ;
    border-top-right-radius: 50px ;
}
#input{
    border:#b4cce6 ;    
    background-color:#b4cce6  ;
    width:300px;
}
#update-input{
    border:unset;    
    background-color:#e8eaec ;
    width:180px;
}
#delete{
    color: rgb(255, 230, 7);
}
.bg-image {
    /* The image used */
    background-image: linear-gradient(to left bottom, #97c2d8, #6eb4e0, #46a4ea, #2691f0, #2f7bf2);    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
   /*  background-color: rgb(0,0,0); Fallback color */
   /*  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1;
   position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center; */
  }