  <div class="container-fluid">
    <div class="row  ">
      <div class="offset-2 col-3 center">
        <button routerLink="/model" class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="btn btn-primary">Change the required header values</div>
          <div class="card-body text-primary">
            <h5 class="card-title ">Header excel/csv sheet</h5>
            <p class="card-text">Manage and access to the header required values, you can add, update and delete column header</p>
          </div>
        </button>
      </div>
      <div class="offset-2 col-3 center ">
        <button routerLink="/users" class="card border-info mb-3" style="max-width: 18rem;">
          <div class="btn btn-info col-12">see all users</div>
          <div class="card-body">
            <h5 class="card-title">Client Users</h5>
            <p class="card-text">This page is dedicated to consult the users list and details of every user after being correctly added to Data Base</p>
          </div>
        </button>
      </div>
    </div>
  </div>




