
<div class="container col-12 center">
  <div class="row">
    <div class="offset-3 col-3">
      <button routerLink="/model" class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="btn btn-primary">Change the required header values</div>
        <div class="card-body text-primary">
          <h5 class="card-title ">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </button>

    </div>

    <div class="col-3 ">
      <button routerLink="/users" class="card border-info mb-3" style="max-width: 18rem;">
        <div class="btn btn-info col-12">see all users</div>
        <div class="card-body">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
      </button>

    </div>
  </div>
</div>



