<!-- <a class="btn btn-primary" routerLink="/model" > Change the requared value</a>
<hr>
<a class="btn btn-success" routerLink="/users"> see all users</a> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="alert alert-primary" routerLink="/model" role="alert">
        Change the requared value
      </button>
      <hr>
      <button class="alert alert-success" routerLink="/users" role="alert">
        see all users
      </button>
    </div>
  </div>
</div>
